[
    {kernel, [
        {log_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level =>
                    debug,
                config => #{
                    type =>
                        {file, "/var/log/dominant-v2/console.json"},
                    sync_mode_qlen =>
                        20
                },
                formatter =>
                    {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {dmt_v2, []},

    {epg_connector, [
        {databases, #{
            default_db => #{
                host =>
                    "db",
                port =>
                    5432,
                username =>
                    "postgres",
                password =>
                    "postgres",
                database =>
                    "dmt_v2"
            }
        }},
        {pools, #{
            default_pool => #{
                database =>
                    default_db,
                size =>
                    10
            }
        }}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {how_are_you, [
        {metrics_publishers, [
            % {hay_statsd_publisher, #{
            %     key_prefix => <<"dominant-v2.">>,
            %     host => "localhost",
            %     port => 8125
            % }}
        ]}
    ]},

    {prometheus, [
        {collectors, [
            default
        ]}
    ]}
].
